<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url(https://c0.wallpaperflare.com/preview/942/536/836/movies-seating-theater-black-and-white.jpg);">
  <div class="text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container px-4 my-4">

  <div class="row g-2">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card w-200 d-flex justify-content-center text-center rounded">
          <p class='fw-bold'><%= bookmark.movie.title %></p>
          <p>⭐️ <%= bookmark.movie.rating %></p>
          <p> 🗒️ <%= bookmark.movie.overview %></p>
          <img src='<%= bookmark.movie.poster_url %>' alt='<%= bookmark.movie.title%>'>
          <p> 💬 <%= bookmark.comment %> </p>
          <%= link_to '🗑️', list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-light w-50">
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
  <% end %>
  </div>

</div>
